html,
body,
body > div,
.App {
	background-color: rgb(214, 214, 212);
	height: 100%;
}

.Home {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.Home-img {
	max-width: 100%;
	width: 60%;
}

.Home-text {
	text-align: center;
}

.Home-text h1 {
	margin: 0;
}

@media all and (min-width: 680px) {
	.Home {
		flex-direction: row;
	}
}
